@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-40px) translateX(20px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1s infinite;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #03045e;
}

::-webkit-scrollbar-thumb {
    background: #0096c7;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00b4d8;
}
